#calendar {
	float: left;
	color: #CCCCCC;
}

#calendar ul {
	list-style: none;
	padding: 2px 0px 0px 0px;
}

.day {
	float: left;
	padding: 3px;
	width: 76px;
	height: 36px;
	color:#CCCCCC;
	background:#F0F0F0 none repeat scroll 0 0;
	font-size:9px;
	border: 1px solid #CCCCCC;
}

.today {
	background-color: LightYellow;
}

.selected {
	background-color: #FCC;
}

#activities {
	margin: 0px 0px 0px 25px;
}